
body {
	color: white;
	background-color: black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 71%; /* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}

#header {
	color: white;
	background-color: #000044;
}

#headerTitle {
  font-size: 337%;
  font-weight: normal;
  position: relative;
  margin: 0 0 0 4mm;
  padding: 0.25ex 0;
}

.subHeader {
  color: white;
  background-color: #000022;
  margin: 0;
  padding: 1ex 1ex 1ex 1.5mm;
}

.subHeader a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}

.subHeader a:hover {
  text-decoration: underline;
}

#menu {
	width: 15em;
	float: left;
	clear: left;
	border-right: 1px solid white;
	background-color: #000022;
	padding: 2mm 2mm 2mm 2mm;
}

#menu div {
  border-bottom: 1px solid white;
}

#side-bar a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  margin-top: 0pt; 
  margin-right: 0pt;
  margin-bottom: 0pt;
  margin-left: 0pt;
  padding-top: 0.75em;
  padding-right: 1ex;
  padding-bottom: 0.75em;
  padding-left: 5mm;
  display: block;
}

#side-bar a:hover {
  color: white;
  background-color: #000044;
  text-decoration: none;
}

#side-bar p {
  	background-color: #000022;
  	text-decoration: none;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: white transparent white transparent;
	border-collapse: separate;
	background-color: transparent;
}

#footer {
	color: white;
	background-color: #000044;
	font-size: 91%;
	margin: 0;
	padding: 1em 2.5mm 2.5ex 2.5mm;
	clear: both;
}

#footer a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}

#footer a:hover {
  text-decoration: underline;
}

#content {
  color: white;
  background-color: black;
  text-align: justify;
  line-height: 1.5em;
  margin: 0 0 0 15em;
  padding: 2mm 5mm 5mm 5mm;
  min-height: 250px;
}

#content p {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

#content h1 {
  color: white;
  background-color: #488214;
  font-size: 14pt;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0.5ex 0 0.5ex 1ex;
}

table.search {
	margin: 1em 1ex 2em 1ex;
	font-size: 91%;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: separate;
	background-color: white;
}
table.search th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.search td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

fieldset {
  float: left;
  margin: 1em 1ex 2em 1ex;
  padding: 1em 1ex 2em 1ex;
}
div.form-row {
  clear: both;
  padding-top: 10px;
}
div.form-row label {
  float: left;
  width: 100px;
  text-align: right;
  padding: 0ex 0.5ex 0ex 0ex;
}
div.form-row input {
  float: left;
  text-align: left;
  padding: 0ex 0ex 0ex 0ex;
}
div.form-buttons {
  clear: both;
  padding-top: 10px;
  align: right;
}
div.form-buttons div.button {
  float: right;
}



.searchTableErrorDialog {
  border: 2px outset;
  background-color: white;
  width: 50%;
}

.searchTableErrorDialog .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}


.gwt-StackPanelItem {
	background-color: #000066;
	border: 1px outset;
	border-color: white;
}
.gwt-StackPanelContent {
	background-color: black;
	#border-right: 1px solid white;
	#border-left: 1px solid white;
	padding: 0.5ex 0.5ex 0.5ex 2.0ex;
}

.tradeMonitor-stackPanelListBox option {
	color: black;
  	background-color: black;
}

.tradeMonitor-stackPanelListBox option {
	color: white;
	background-color: black;
	border: 1px outset;
	border-color: white;
}

.tradeMonitor-centerTable td {
	vertical-align: top;
}

.tradeMonitor-summaryHeader {
	background-color: #000044;
}
	
.tradeMonitor-symbolSummary {
	display: inline-table;
	border: 1px outset;
    vertical-align: top;
    margin: 5px;
}

.tradeMonitor-symbolSummary a {
	text-decoration: none;
}

.tradeMonitor-symbolSummary td {
	font-size: 8pt;
	vertical-align: middle;
}

.tradeMonitor-serverName {
	font-size: 14pt;
}

.tradeMonitor-symbol {
	font-size: 18pt;
	align: center;
	vertical-align: text-bottom;
}

.tradeMonitor-price {
	font-size: 14pt;
	vertical-align: middle;
}

.tradeMonitor-moreInformation {
	font-size: 10pt;
}
